* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

  .header{
    text-align: center;
    background-color:cornflowerblue;
    padding: 20px;
   
  } 

  .topnav {
    background-color: cadetblue;
    padding: 20px;
    text-align: center;
  }
  
  .topnav a {
    color: #f2f2f2;
    padding: 50px;
    text-decoration: none;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    flex: 25%;
    padding: 20px;
    background-color:#ccc;
  }

  .img{
    width: 300px;
    height: 300px;
    padding:20px;
  }

  .footer{
   text-align: center;
   font-size: 20px;
   background-color:#ccc;
   margin-bottom:0;
  }


  @media screen and (max-width: 992px) {
    .box {
      flex: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  
  img{
      width: 100%;
  }
}